@CHARSET "UTF-8";

body {
	background-image: url("../img/tree_bark.png");
	/* background-size: 100%; */
}

.jumbotron {
	margin-top: 50px;
	background: white;
}

.jumbotron p {
	clear: both;
	font-size: 12px;
}

.post_item h3 {
	overflow: auto;
	border-bottom: 1px dotted #CECECE;
}

.post_item span.btn-mini {
	margin-bottom: 2px !important;
}

.likebtn {
	display: block;
	width: 50px;
	height: 22px;
	border: none;
	cursor: pointer;
	background-image: url("../img/like_btn_g.png");
}

.likebtn:hover {
	background-image: url("../img/like_btn.png");
}

.commentbox {
	border: 1px solid #CECECE;
	margin-left: 20px !important;
	width: 92%;
	font-weight: normal;
}

.center {
	margin: 0 auto;
}

.modal-content {
	overflow: auto;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.footer {
	text-align: center;
	font-size: 11px;
}

.ondate {
	font-size: 12px;
	font-weight: bold;
}